body {
    font-family: 'Raleway';
    color: #ffffff;
}


.bg-black {
    background-color: black;

}

h4 {
    text-transform: uppercase;

}

.fa-iconos{
    color: white;
    width: 30px;
    height: 30px;
}

.card-img-top {
    width:286px;
    height: 191px;
}

.fa-brands{
    width: 2rem;
    height: 2rem;
}